{% extends 'base.twig' %}

{% set fullPageForm = getParams('fullPageForm') %}

{% set fullPageFormOptions = getParams('fullPageFormOptions', {}) %}

{% set crumbs = [{label:'Dashboard', url:url(['/admin'])}]|merge(getParams('crumbs', [])) %}

{% import "@pawcp_base/views/_includes/nav.twig" as nav %}

{% set contentClass = [
    'content',
    'container-fluid',
    'py-3',
    this.blocks['actions'] is defined ? 'with-action-bar' : null
]|join(' ') %}

{%- block body -%}
    <div class="global-wrapper d-flex flex-fill">
        <aside class="global-sidebar-wrapper d-flex border-right">
            <div class="global-sidebar flex-fill">
                <div class="identity-info p-3 dropdown text-center">
                    <a href="{{ url(['/admin']) }}"><h3 class="text-left">Intender</h3></a>
                </div>
                <nav>
                    {{ nav.nav(app.cp.menus.global) }}
                </nav>
            </div>
        </aside>
        <main class="d-flex flex-fill flex-column">
            {%- if fullPageForm -%}
            <form class="d-flex flex-fill flex-column" id="main-form" method="post" accept-charset="UTF-8" {{ objectToAttr(fullPageFormOptions) }}>
            <input type="hidden" name="_csrf" value="{{ app.request.getCsrfToken() }}" />
            {% endif %}
            <header class="d-flex border-bottom">
                <div class="master-header flex-fill">
                    <div class="top-header">
                        <nav class="navbar navbar-expand-md">
                            <div class="navbar-brand">
                                <span class="master-search">
                                    <i class="fa fa-search"></i>
                                    <input type="text"  placeholder="{{ 'Search... '|t('app') }}" />
                                </span>
                            </div>
                            <ul class="navbar-nav mr-auto"></ul>
                            <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle removecaret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url(['/admin/setting']) }}">Account Setting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url(['/admin/user/logout']) }}" data-method="post" data-params="{{ csrfData()|json_encode() }}">Logout</a>
                                </div>
                                </li>
                            </ul>
                        </nav>


                        {# <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-default no-outline btn-sm"><i class="fa fa-bars"></i></button>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb no-backgound-color">
                                    {% if crumbs %}
                                    {% for crumb in crumbs %}
                                    {% if loop.last %}
                                    <li class="breadcrumb-item active">{{ crumb.label }}</li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </ol>
                            </nav>
                            <div class="right-menu ml-auto d-flex align-items-center">
                                <div class="dropdown">
                                    <a  href="#" class="no-outline dropdown-toggle" id="user-identity-tollge-button" data-toggle="dropdown">
                                        <i class="fa fa-user"></i> {{ app.user.identity.username }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="user-identity-tollge-button">
                                        <li><a href="{{ url(['/admin/user/logout']) }}" data-method="post" data-params="{{ csrfData()|json_encode() }}">Logout</a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block header %}
                            {% block pageTitle %}
                                <h1>{{ this.title }}</h1>
                            {% endblock %}
                            {% block headerActions %}{% endblock %}
                        {% endblock %} #}
                    </div>
                    {%- if this.blocks['actions'] is defined or this.title -%}
                    <div class="action-header border-bottom container-fluid py-3">
                        <div class="mb-3 mb-md-0 w-100">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="page-title p-0 m-0" data-val-follower="page-title" data-val-follower-init-val="{{ this.title }}">{{ this.title }}</h3>
                                </div>
                                {%- if this.blocks['actions'] is defined -%}
                                <div class="col-md-5 text-md-right mt-3 mt-md-0">
                                    {{- this.blocks['actions']|raw -}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </header>
            <div class="main-content-wrapper d-flex flex-fill">
                {%- if this.blocks['sidebar'] is defined -%}
                <div class="sidebar-wrapper d-flex">
                    <div class="sidebar flex-fill container-fluid py-3">
                        <div class="paper">
                            {{- this.blocks['sidebar']|raw -}}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="main-content d-flex flex-column flex-fill">
                    <div class="content-wrapper">
                        <div class="{{ contentClass }}">
                            {{ content|raw }}
                        </div>
                        <footer>
                            {{ 'Copyright &copy; {year} Intender all rights reserved'|t('app', {year: "now"|date('Y')})|raw }}
                        </footer>
                    </div>
                </div>
                {% if this.blocks['details'] is defined %}
                <div class="details-wrapper d-flex">
                    <div class="details flex-fill">
                        {{- this.blocks['details']|raw -}}
                    </div>
                </div>
                {% endif %}
            </div>
        </main>
    </div>
    <paw-toasts items="{{ app.session.allFlashes|json_encode() }}"></paw-toasts>
{%- endblock -%}