<ul>
    <li>
        <a href="{{ url(['/admin/setting/section']) }}">{{ t('app', 'Section') }}</a>
    </li>
    <li>
        <a href="{{ url(['/admin/setting/collection-type']) }}">{{ t('app', 'Collection') }}</a>
    </li>
    <li>
        <a href="{{ url(['/admin/setting/collection-field']) }}">{{ t('app', 'Field') }}</a>
    </li>
</ul>