{% set isCreated = isCreate ?? false %}

{{ set(this, 'title', isCreate ? 'Create User'|t('app') : model.username) }}

{{ setParams('fullPageForm', true) }}

{{ setParams('fullPageFormOptions', {'novalidate':true}) }}

{{- setParams('crumbs', [
    {label:'Setting'|t('app'), url:url(['/admin/setting'])}, 
    {label:'User'|t('app'), url:url(['/admin/setting/user'])},
    {label: isCreate ? 'Create User'|t('app') : model.username}
]) -}}

{% import "@pawcp_base/views/_includes/forms.twig" as forms %}

{{ beginBlock('actions') }}
<button type="submit" class="btn btn-primary btn-sm">{{ 'Save'|t('app') }}</button>
{{ endBlock() }}

{{ forms.activefield_text(model, 'username', {disabled: isCreate == false}) }}

{{ forms.activefield_text(model, 'email', {type: 'email'}) }}

{{ forms.activefield_text(model, 'first_name') }}

{{ forms.activefield_text(model, 'last_name') }}

{{ forms.activefield_text(model, 'password', {type: 'password'}) }}

{{ forms.activefield_text(model, 'password_confirm', {type: 'password'}) }}