{{ set(this, 'title', 'User'|t('app')) }}

{{- setParams('crumbs', [
    {label:'Setting'|t('app'), url:url(['/admin/setting'])}, 
    {label:'User'|t('app'), url:url(['/admin/setting/user'])},
]) -}}

{{ beginBlock('actions') }}
<a href="{{ url(['/admin/setting/user/create']) }}" class="btn btn-sm btn-primary">{{ 'Create'|t('app') }}</a>
{{ endBlock() }}

{% include "@pawcp_base/modules/setting/views/_includes/sidebar.twig" %}

<div class="row">
    {%- for item in app.resource.get('user').all() -%}
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ item.username }}
                </h5>
                <a href="{{ url(['/admin/setting/user/update']|merge({id: item.id})) }}" class="card-link">{{ 'Manage'|t('app') }}</a>
                <a href="{{ url(['/admin/setting/user/delete']|merge({id: item.id})) }}" class="card-link text-danger" confirm="Are you sure?" data-method="post" data-params="{{ csrfData()|json_encode() }}">{{ 'Delete'|t('app') }}</a>
            </div>
        </div>
    </div>
    {%- endfor -%}
</div>